* {
  font-family: "Dosis";
  box-sizing: border-box;
}

:root {
  --baseBackground: rgb(100, 149, 237);
  --playerBackground: rgb(138, 43, 226);
  --buttonBackground: rgb(240, 248, 255);
}

h1 {
  font-size: 3em;
}

#About {
  text-align: center;
  font-size: 135%;
  margin-left: 15%;
  margin-right: 15%;
}

html,
body {
  height: 100%;
  background-color: var(--baseBackground);
  padding: 1.875em;
}

body {
  margin: 0;
  padding: 1.875em;
}

.bodyPage2 {
  display: flex;
}

.eventText {
  display: flex;
}

.buttonList {
  background-color: var(--buttonBackground);
  border: 0.1875em solid black;
}

button {
  background-color: var(--buttonBackground);
}

#beginGame {
  padding: 0.3125em;
  margin: 0.3125em 0em 0.3125em 0em;
}

#playerCount {
  overflow-y: scroll;
  display: flex;
  min-height: 20em;
  min-width: 15em;
  background-color: var(--playerBackground);
  border: 0.1875em solid black;
  gap: 0.3125em;
  padding: 0.3125em;
}

#playerCount tbody {
  height: 10rem;
  width: 6rem;
}

#playerCount > div {
  padding: 0.0625em 0.625em 0.3125em 0.625em;
}

#playerCount > table {
  padding: 0.15em;
  width: 12em;
  height: 10em;
  background-color: var(--baseBackground);
  border: 0.125em solid black;
}

.playerCountPage1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 92.5%;
  max-width: 100%;
  min-width: 100%;
}

.playerCountPage2 {
  flex-direction: column;
  justify-content: left;
  min-width: 13.7rem;
}

img.foodDudes:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

img.foodDudesWeapon {
  margin-left: -1.875em;
  margin-top: 6em;
}

#Page2 {
  overflow-y: auto;
  width: 100%;
}

.bodyPage2 {
  display: flex;
}

.action {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 10rem;
  text-align: center;
}

.actionImage {
  display: flex;
  justify-content: space-around;
}

#Page2 img {
    border: 0.1875em solid black;
}

.actionContainer {
  padding: 1em;
}

#showHistory {
  text-align: center;
  justify-content: space-evenly;
  padding: 1em;
}

#historyTitle {
  font-size: 3em;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: underline;
  padding: 0.1875em;
}

/*@media screen and (min-width: 280px) {
  .buttonList {
    display: flex;
    flex-wrap: wrap;
    padding: 1.4em;
    gap: 1.4em;
    font-size: 225%;
  }

  #playerCount {
    font-size: 175%;
  }

  #playerCount>div {
    padding: 0em;
  }

  #playerCount>table {
    padding: 0.15em;
    width: 11em;
    height: 9em;
    background-color: var(--baseBackground);
    border: 0.125em solid black;
  }
}*/