* {
  font-family: "Dosis";
  box-sizing: border-box;
}

:root {
  --baseBackground: rgb(100, 149, 237);
  --playerBackground: rgb(138, 43, 226);
  --buttonBackground: rgb(240, 248, 255);
}

h1 {
  font-size: 3em;
}

#About {
  text-align: center;
  font-size: 135%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
}

html,
body {
  height: 100%;
  background-color: var(--baseBackground);
  padding: 1.875em;
}

body {
  margin: 0;
  padding: 1.875em;
}

.bodyPage2 {
  display: flex;
}

.eventText {
  display: flex;
}

.buttonList {
  background-color: var(--buttonBackground);
  border: 0.1875em solid black;
  gap: 1em;
}

button {
  background-color: var(--buttonBackground);
}

#playerCount {
  overflow-y: scroll;
  display: flex;
  min-height: 20em;
  min-width: 15em;
  background-color: var(--playerBackground);
  border: 0.1875em solid black;
  gap: 0.3125em;
  padding: 0.3125em;
}

#playerCount tbody {
  height: 10rem;
  width: 6rem;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  width: 12em;
  height: 13em;
  background-color: var(--baseBackground);
  border: 0.125em solid black;
}

.playerButton {
  flex: 1;
  margin-bottom: 0.5em;
}

.playerImage:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

.playerWeaponImage {
  height: 3em;
  margin-left: -1.875em;
}

.playerName {
  font-size: 2em;
  font-weight: bold;
}

.playerContainer p {
  margin: 0;
}

.playerCountPage1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 92.5%;
  max-width: 100%;
  min-width: 100%;
}

.playerCountPage2 {
  flex-direction: column;
  justify-content: left;
  min-width: 13.7rem;
}

#Page2 {
  overflow-y: auto;
  width: 100%;
}

.bodyPage2 {
  display: flex;
}

.action {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 10rem;
  text-align: center;
}

.actionImage {
  display: flex;
  justify-content: space-around;
}

#Page2 img {
    border: 0.1875em solid black;
}

.actionContainer {
  padding: 1em;
}

#showHistory {
  display: none;
  text-align: center;
  justify-content: space-evenly;
  padding: 1em;
}

#historyTitle {
  font-size: 3em;
  text-align: center;
  justify-content: space-evenly;
  text-decoration: underline;
  padding: 0.1875em;
}

@media screen and (max-width: 640px) {

  #About {
    font-size: 100%;
    margin: 0;
  }

  #Dismiss {
    display: flex;
    justify-content: center;
    width: calc(100% - 13px); 
  }

  #playerName {
    text-align: center;
    width: calc(100% - 13px);
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
    margin: 0.5em 0;
  }

  #beginGame {
    justify-content: center;
    width: calc(100% - 13px);
  }

  .playerContainer {
    display: flex;
    width: 48%;
    height: 54%;
  }

  .weaponName {
    font-size: 80%;
  }

  body {
    font-size: 110%;
    margin: 0;
    padding: 0;
  }

  html, body {
    padding: 0;
  }

  .buttonList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    height: 3em;
    width: 45%;
    margin: 0.5em;
  }

  .Page1 {
    flex-wrap: wrap;
  }

  .playerButton {
    flex: 0;
  }

  #playerCount {
    font-size: 125%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20em;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .playerCountPage1 {
    height: auto;
    width: auto;
    min-width: 15em;
  }

  #playerCount>div {
    padding: 0em;
  }

  #playerCount>table {
    padding: 0.15em;
    width: 9em;
    height: 9em;
    background-color: var(--baseBackground);
    border: 0.125em solid black;
  }

  .bodyPage2 {
    display: flex;
    flex-wrap: wrap;
  }

  .playerCountPage2 {
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 20em;
  }

  .weaponName {
    font-size: 80%;
  }

  #beginRound {
    width: calc(100% - 13px);
    justify-content: center;
  }

  #nextRound {
    width: calc(100% - 13px);
    justify-content: center;
  }

  .action {
    width: 100%;
    height: 210px !important;
  }

  #actionLog {
    height: 20em;
    overflow-y: auto;
    box-sizing: border-box;
  }

  #showHistory {
    font-size: 125%;
    height: 15em;
    overflow-y: auto;
    box-sizing: border-box;
  }
}