html,
body {
  background-color: cornflowerblue;
}

#playerClass {
  background-color: aliceblue;
}

#weaponClass {
  background-color: aliceblue;
}

#inputButton {
  background-color: aliceblue;
}

#playerName {
  background-color: aliceblue;
}

#createRandomPlayer {
  background-color: aliceblue;
}

#beginGame {
  background-color: aliceblue;
  padding: 0.3125em;
  margin: 0.3125em 0em 0.3125em 0em;
}

#playerCount {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  min-height: 20em;
  background-color: blueviolet;
  border: 0.1875em solid black;
  gap: 0.3125em;
  padding: 0.3125em;
}

.playerCountPage2 {
  flex-direction: column;
  justify-content: left;
}

#playerCount > div {
  padding: 0.0625em 0.625em 0.3125em 0.625em;
}

#playerCount > table {
  padding: 0.15em;
  width: 12em;
  height: 10em;
  background-color: cornflowerblue;
  border: 0.125em solid black;
}

img.foodDudes:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

img.foodDudesWeapon {
  position: absolute;
  margin-left: 2.5em;
  margin-top: -6.4375em;
}

.bodyPage2 {
  display: flex;
  flex-wrap: wrap;
}